---
layout: post
---

<div class="catalogue">
  {% for post in site.categories[page.category] %}
    <a href="{{ post.url | absolute_url }}" class="catalogue-item">
      <div>
        <time datetime="{{ post.date }}" class="catalogue-time">{{ post.date | date: "%B %d, %Y" }}</time>
        <h1 class="catalogue-title">{{ post.title }}</h1>
        <div class="catalogue-line"></div>

        <p>
          {{ post.content | truncatewords: 30 | strip_html }}
        </p>

      </div>
    </a>
  {% endfor %}
</div>


<a href="{{ site.url }}/category/" class="top">Return</a>
